[user]
	name = Paulius Vilkauskas
	email = 18093506+pavilkau@users.noreply.github.com
[alias]
  pl = pull
  ps = push
	st = status
	co = checkout
	cb = checkout -b
	coma = checkout master
	br = branch
	cm = commit -m	
  cmpv = commit -m 'Bump patch version'
	pf = push --force-with-lease
	pushup = push -u origin HEAD
	amend = commit --amend
  pophead = reset --soft HEAD~1
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
	pushRemote = no_push
[core]
	excludesfile = ~/.gitignore
