[user]
	name = Paulius Vilkauskas
	email = 18093506+pavilkau@users.noreply.github.com
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit -m	
	pf = push --force-with-lease
	pushup = push -u origin HEAD
	pop = stash pop
	amend = commit --amend
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[core]
	excludesfile = ~/.gitignore
